<section ng-controller="RoomCtrl as roomctrl" class="overall-container">
	
	<div class="sidebar-title">
		<p class="title-text">Bloc Chat</p>
		<p class="username-text" ng-controller="ModalUsernameCtrl as modal" ng-click="modal.open()">Change Screen Name</p>
	</div>
	
	<section class="room-nav" ng-click="roomctrl.roomView.showSidebar()">
		
		<div class="button-box">
			<div class="button" ng-controller="ModalCtrl as modal" ng-click="modal.open()">New Room</div>
		</div>
			
	
		<div class="open-rooms-title">Currently Open Rooms</div>
	
		
		<section class="table-container">
			<table class="room-list"> 
				<tr class="room-item" ng-repeat="rooms in roomctrl.room.all">
					<td ng-click="roomctrl.activateRoom(rooms); roomctrl.getMessages(rooms.$id); roomctrl.roomView.autoScrollMessages()">{{ rooms.$value }}</td>
				</tr>
			</table>
			
		</section>
		<div class="arrow-icon"></div>

	</section>	


	<section class="active-room" ng-click="roomctrl.dynamicCss()">
		
		<div class="logo-select-room" ng-show="!roomctrl.roomSelected"></div>
		<div ng-show="roomctrl.roomSelected" class="active-room-title"><p class="room-title-text">{{ roomctrl.activeRoom.$value }}</p></div>
		<div ng-show="roomctrl.roomSelected"  class="message-table-container">
			<table class="message-table" ng-repeat="message in roomctrl.messages">
				<tr class="message-row">
					<td class="message-username">{{ message.username }} says:</td>
					<td class="message-time">{{ message.sentAt }}</td>
				</tr>
				<tr class="message-row">
					<td colspan="2" class="message-cell">{{ message.content }}</td>
				</tr>

			</table>
		</div>
		
		<section ng-show="roomctrl.roomSelected"  class="send-message-container">
			<form ng-submit="roomctrl.sendMessage()">
				<input class="message-field" placeholder="Type your message here..." ng-model="messageToSend">
			</form>
			
			<div class="submit-message" ng-click="roomctrl.sendMessage()"></div>
		</section>
		
	</section>


</section>